### Map Function

In [9]:
my_nums = [1,2,3,4,5]

for i in my_nums:
    print(i**2)

1
4
9
16
25

In [13]:
def square(num):
    return num**2

In [15]:
for item in map(square,my_nums):
    print (item)

1
4
9
16
25

In [16]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [17]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [18]:
names = ['Akash','Ranjan','Saha']

In [19]:
list(map(splicer,names))

['A', 'EVEN', 'EVEN']

### Filter Function

In [20]:
def check_even(num):
    return num % 2 == 0

In [21]:
mynums = [1,2,3,4,5,6,7,8]

In [22]:
list(filter(check_even,mynums))

[2, 4, 6, 8]

In [23]:
list(map(check_even,mynums))

[False, True, False, True, False, True, False, True]

### Lambda Expression

In [30]:
#Default function

def suare(num):
    result = num ** 2
    return result

In [26]:
square(3)

9

In [31]:
#Short function

def suare(num):
    return num ** 2

In [32]:
square(3)

9

In [33]:
#Shorter function

def suare(num): return num ** 2

In [34]:
square(3)

9

In [42]:
#Lambda Expression

lambda num: num ** 2

In [39]:
square = lambda num: num ** 2

In [40]:
square(3)

9

In [41]:
square(5)

25

#### Lambda Expressions with Map and Filter

In [47]:
mynums = [1,2,3,4,5,6,7,8]

In [48]:
#Square of the numbers in thelist

list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36, 49, 64]

In [49]:
#Even Numbers in the List

list(filter(lambda num:num%2==0,mynums))

[2, 4, 6, 8]

In [50]:
names = ['Akash','Ranjan','Saha']

#Grab first char of the string
list(map(lambda x:x[0],names))

['A', 'R', 'S']

In [51]:
#Reverse the names
list(map(lambda x:x[::-1],names))

['hsakA', 'najnaR', 'ahaS']