### 1. Find 33:

#### Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [27]:
def has_33(nums):
    
    for i in range(0, len(nums)-1):
        
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [28]:
has_33([1, 3, 3])

True

In [29]:
has_33([1, 3, 1, 3])

False

In [30]:
has_33([3, 1, 3])

False

#### Shorter Version

In [33]:
def has_33(nums):
    
    for i in range(0, len(nums)-1):
        
        if nums[i : i+2] == [3,3]:
            return True
        
    return False

# Slicing is used, so [i:i+2] is [0:2], which is [0,1]
# So we check for nums[0,1] == [3,3]
# If num[0] is not = to 3, then we check for num[1] and then [1:1+2] & so on

In [34]:
has_33([1, 3, 3])

True

In [35]:
has_33([1, 3, 1, 3])

False

In [36]:
has_33([3, 1, 3])

False

### 2. PAPER DOLL:

#### Given a string, return a string where for every character in the original there are three characters

    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [65]:
def paper_doll(text):
    
    result = ''
    
    for char in text:
        result += char*3  # same as result = result + char*3
    
    return result

In [66]:
paper_doll('Hello')

# Lets breakdown the code for paper_doll('Hello')
# First result is ''
# Then in for loop, for each char in Hello, we do result = result + char*3
# So, 1st time around '' = '' + H*3
# 2nd time around 'HHH' = 'HHH' + e*3
# 3rd time around 'HHHeee' = 'HHHeee' + l*3
# 4th time around 'HHHeeelll' = 'HHHeeelll' + l*3
# 5th time around 'HHHeeellllll' = 'HHHeeellllll' + o*3
# And then the loop ends as there are no more char and the output is below

'HHHeeellllllooo'

In [67]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### 3. BLACKJACK:

#### Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [93]:
def blackjack(a,b,c):
    
    if a+b+c <= 21:
        return (a+b+c)
    
    while a+b+c > 21:
        
        if a == 11 or b == 11 or c == 11:
            return (a+b+c) - 10
        
        else:
            return ('BUST')

In [94]:
blackjack(5,6,7)

18

In [95]:
blackjack(9,9,11)

19

In [92]:
blackjack(9,9,9)

'BUST'

#### Shorter Version using sum()

In [100]:
def blackjack(a,b,c):
    
    if sum([a,b,c]) <= 21:
        return sum([a,b,c])
    
    elif 11 in [a,b,c] and sum([a,b,c]) > 21:
        return sum([a,b,c])-10
    
    else:
        return ('BUST')

In [101]:
blackjack(5,6,7)

18

In [102]:
blackjack(9,9,11)

19

In [105]:
blackjack(9,9,9)

'BUST'

### 4. SUMMER OF '69: 

#### Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [139]:
def summer_69(arr):
    
    total = 0
    add = True
    
    for num in arr:
        
        while add:
            if num !=6:
                total += num
                break
            else:
                add = False