### 1. OLD MACDONALD: 

#### Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [15]:
# Wrong Output

def old_macdonald(name):
    
    x = ([*name])
    print (x)
    
    for i in x:
        x[0] = i.upper()
        x[3] = i.upper()
        
    return ''.join(x)

In [16]:
old_macdonald('macdonald')

['m', 'a', 'c', 'd', 'o', 'n', 'a', 'l', 'd']

'DacDonald'

#### Solution Using Indexing Slicing and Concatenation

In [22]:
#.upper()

def old_macdonald(name):
    
    first_l = name[0]
    fourth_l = name[3]
    middle_l = name[1:3]
    rest_l = name [4:]
    
    return first_l.upper() + middle_l + fourth_l.upper() + rest_l

In [23]:
old_macdonald('macdonald')

'MacDonald'

In [28]:
#.capitalize()

def old_macdonald(name):
    
    first_p = name[:3]
    sencond_p = name[3:]
    
    return first_p.capitalize() + sencond_p.capitalize()

In [29]:
old_macdonald('macdonald')

'MacDonald'

### 2. MASTER YODA: 

#### Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [81]:
def master_yoda(text):
    
    mylist = []
    x = text.split()[::-1]
    
    for word in x:
        mylist.append(word)
    
    return ' '.join(mylist)

In [82]:
master_yoda('I am home')

'home am I'

#### Shorter Version

In [83]:
def master_yoda(text):
    
    x = text.split()
    y = x[::-1]
    
    return ' '.join(y)

In [84]:
master_yoda('I am home')

'home am I'

In [85]:
master_yoda('We are ready')

'ready are We'

### 3. ALMOST THERE: 

#### Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [143]:
def almost_there(n):
    
    return abs(100-n) <= 10 or abs(200-n) <= 10

In [144]:
almost_there(91)

True

In [145]:
almost_there(104)

True

In [146]:
almost_there(150)

False

In [147]:
almost_there(209)

True