### **1. Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [5]:
def vol(rad):
    return (((4/3)*3.14)*rad*rad*rad)

In [6]:
vol(2)

33.49333333333333

#### Shorter Version

In [7]:
def vol(rad):
    return (4/3)*(3.14)*(rad**3)

In [8]:
vol(2)

33.49333333333333

#### Version using pi

In [9]:
from math import pi

def vol(rad):
    return (4/3)*pi*(rad**3)

In [10]:
vol(2)

33.510321638291124

___
### **2. Write a function that checks whether a number is in a given range (inclusive of high and low)**

#### Return String as Output

In [39]:
def ran_check(num,low,high):
    
    if num > low and num < high:
        return (f'{num} is in the range between {low} and {high}')

    else:
        return (f'{num} is outside the range of {low} and {high}')

In [40]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [34]:
ran_check(10,2,7)

'10 is outside the range of 2 and 7'

#### Return Boolean as Output

In [41]:
def ran_bool(num,low,high):
    
    return num > low and num < high

In [36]:
ran_bool(10,2,7)

False

In [37]:
ran_bool(5,2,7)

True

#### Using range()

In [ ]:
def ran_check(num,low,high):
    
    if num in range(low,high+1):
        return (f'{num} is in the range between {low} and {high}')

    else:
        return (f'{num} is outside the range of {low} and {high}')

In [45]:
ran_check(5,2,7)

'5 is in the range between 2 and 7'

In [46]:
ran_check(10,2,7)

'10 is outside the range of 2 and 7'

#### Using range() for Boolean Output

In [48]:
def ran_bool(num,low,high):
    
    return num in range(low,high+1)

In [49]:
ran_bool(5,2,7)

True

In [50]:
ran_bool(10,2,7)

False

____
### **3. Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [102]:
def up_low(s):
    
    ucc = []
    lcc = []


    for i in s:
        if i.isupper() == True:
            ucc.append(i)
        
        elif i.islower() == True:
            lcc.append(i)
            
        else:
            pass
        
    print (f'Original String : {s}') 
    print (f'\n No. of Upper case characters : {len(ucc)}')
    print (f'\n No. of Lower case characters : {len(lcc)}')

In [103]:
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?

 No. of Upper case characters : 4

 No. of Lower case characters : 33

#### Shorter Version

In [104]:
def up_low(s):
    
    ucc = 0
    lcc = 0

    for i in s:
        
        if i.isupper():
            ucc += 1
            
        elif i.islower():
            lcc += 1
            
        else:
            pass
            
    print (f'Original String : {s}')        
    print (f'\n No. of Upper case characters : {ucc}')
    print (f'\n No. of Lower case characters : {lcc}')

In [105]:
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?

 No. of Upper case characters : 4

 No. of Lower case characters : 33

#### Using Dictionaries - Best Method

In [106]:
def up_low(s):
    
    d = {'upper':0,'lower':0}

    for i in s:
        
        if i.isupper():
            d['upper'] += 1
            
        elif i.islower():
            d['lower'] += 1
            
        else:
            pass
            
    print (f'Original String : {s}')        
    print (f'\n No. of Upper case characters : {d["upper"]}')
    print (f'\n No. of Lower case characters : {d["lower"]}')

In [107]:
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?

 No. of Upper case characters : 4

 No. of Lower case characters : 33

____
### **4. Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [122]:
def unique_list(lst):
    
    return list(set(lst))

In [123]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

#### Another way

In [126]:
def unique_list(lst):
    
    x = []
    
    for num in lst:
        if num not in x:
            x.append(num)
        
    return x

In [127]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
### **5. Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [154]:
def multiply(numbers):
    
    result = 1
    
    for x in numbers:
        result = result * x
        
    return result

In [155]:
multiply([1,2,3,-4])

-24

____
### **6. Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [222]:
def palindrome(s):
    
    s = s.replace(" ","")
    return s == s[::-1]

In [223]:
palindrome('helleh')

True

In [224]:
palindrome('madam')

True

In [225]:
palindrome('kayak')

True

In [226]:
palindrome('racecar')

True

In [227]:
palindrome('nurses run')

True

____
### **7. Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [263]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    str1 = set(str1.replace(" ","").lower())
    alphabet = set(alphabet)          
               
    return str1 == alphabet

In [264]:
ispangram("The quick brown fox jumps over the lazy dog")

True